[submodule "nut-base"]
	path = nut-base
	url = git@github.com:francitoshi/nut-base.git
[submodule "nut-core"]
	path = nut-core
	url = git@github.com:francitoshi/nut-core.git
[submodule "nut-finance"]
	path = nut-finance
	url = git@github.com:francitoshi/nut-finance.git
[submodule "nut-headless"]
	path = nut-headless
	url = git@github.com:francitoshi/nut-headless.git
[submodule "nut-lame"]
	path = nut-lame
	url = git@github.com:francitoshi/nut-lame.git
[submodule "nut-desktop"]
	path = nut-desktop
	url = git@github.com:francitoshi/nut-desktop.git
[submodule "nut-base-kernel"]
	path = nut-base-kernel
	url = git@github.com:francitoshi/nut-base-kernel.git
[submodule "nut-base-cli"]
	path = nut-base-cli
	url = git@github.com:francitoshi/nut-base-cli.git
[submodule "nut-base-kripto"]
	path = nut-base-kripto
	url = git@github.com:francitoshi/nut-base-kripto.git
